@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin fixedHeader() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@mixin fixedBackground() {
  background-color: $masterContrastColor;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -9999;
}

@mixin bodyPadding() {
  padding: 5em 1em 0;
}