$color3: #38598b;

$masterColor: #022c43; // 심볼색
$subColor: #113f67; // masterColor의 hover color
$masterContrastColor: #eceef0; // masterColor의 대비색
$backgroundColor: #a2bbc9; // body 배경색
$fontColor: $masterColor; // 기본 글자색
$borderColor: #d1d5da; // 기본 보더 색

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,300,400,600,700,800,900');

$fontFamily: 'Gothic A1', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$formMaxWidth: 340px;

$mobileMinWidth: 768px;